VITE_SANITY_PROJECT_ID=waau2bb1
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2026-01-01
VITE_SANITY_USE_CDN=true

VITE_API_URL=http://localhost:5000/api
VITE_STRIPE_KEY=your_stripe_public_key_here
VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/your_account/image/upload
